@use '/src/sass/base/variables' as *;

.hero {
  min-height: 652px;
  background-color: $base;
  border-bottom: 2px dashed $light-grey;
  &__img {
    width: 100%;
  }
  &__title {
    font-size: 32px;
    &_highlighted {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__text {
    color: $text;
    font-size: 18px;
  }
}
